---
layout: page
title: My Developments
---

<div class="posts">
    {% for post in site.posts %}
    {% if post.type == 'development' %}
    <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}" style="color:#004c8e;font-style:normal;text-decoration:underline;">{{ post.title }}</a></h1>

        <div class="entry" style="margin-top: 19px; margin-bottom: 9px; margin-left: 30px;">
            {{ post.content | strip_html | truncatewords:40}}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" style="color: #004c8e;font-weight: bold;">Read More</a>
        <br />
        <hr>
        <br />
    </article>
    {% endif %}
    {% endfor %}
</div>
