//colors
$white: #fff;
$color_gallery_approx: #eee;
$color_masala_approx: #3c3c3c;
$color_mirage_approx: #1e1f21;
$color_mine_shaft_approx: #333;
$color_suva_gray_approx: #888;
$color_silver_chalice_approx: #aaa;
$color_casper_approx: #aeb9cc;
$color_green_white_approx: #eae8e1;
$color_van_cleef_approx: #4c180f;
$color_nutmeg_approx: #783b2e;
$color_chicago_approx: #595c5b;
$color_brown_rust_approx: #bc6247;
$color_abbey_approx: #515556;
$color_pink_swan_approx: #bbb;
$color_outrageous_orange_approx: #ff6538;
$color_thunderbird_approx: #c62c00;
$color_fuscous_gray_approx: #555;
$color_celeste_approx: #ccc;
$black: #000;
$color_quarter_pearl_lusta_approx: #fffff4;
$color_cadet_blue_approx: #a4b4c8;
$gray: #808080;
$color_cloud_burst_approx: #192d50;
$color_cape_cod_approx: #3f3f3f;
$wild_sand: #f4f4f4;
$color_red_berry_approx: #990000;
$color_forget_me_not_approx: #fff0f0;
$color_rum_swizzle_approx: #f5fbe1;
$color_christi_approx: #7ba813;

//fonts
$font_0: Arial;
$font_1: Sans-Serif;
$font_2: sans-serif;
$font_3: Sans-serif;

body {
	margin: 5px 0;
	padding: 0;
	font: 74% $font_0, $font_1;
	color: #FFF;
	background-color: $color_gallery_approx;
	line-height: 1.4em;
	background: #3C3C3C url(bg.jpg) repeat-x;
}
.topmenu {
	background: #1E1F21;
	height: 26px;
	font-size: 90%;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid $color_mine_shaft_approx;
	color: $color_suva_gray_approx;
	.right_ {
		float: right;
		background: #1E1F21;
		text-align: right;
		margin: 0;
		padding: 5px 0 0;
		color: $color_suva_gray_approx;
		border: 0;
	}
	a {
		color: $color_suva_gray_approx;
		&:hover {
			color: $color_silver_chalice_approx;
		}
	}
	.date_ {
		float: left;
		background: #1E1F21;
		color: $color_suva_gray_approx;
		padding: 5px 0 0 5px;
	}
}
#submenu {
	color: $color_silver_chalice_approx;
	padding: 10px 5px 5px;
	height: 67px;
	background: #1E1F21;
	a {
		color: #AEB9CC;
		&:hover {
			color: #EAE8E1;
		}
	}
	.searchb {
		float: right;
		width: 363px;
		text-align: right;
		padding-right: 5px;
		border-left: 1px solid $color_mine_shaft_approx;
	}
}
.bridge {
	background: #4C180F url(bridge.jpg) no-repeat bottom;
	height: 268px;
	margin: 0;
	padding: 0;
	.title {
		color: #783B2E;
		float: right;
		padding: 20px 20px 0 0;
		font: bold 1.6em $font_0, $font_2;
	}
	.slogan {
		float: right;
		clear: both;
		padding: 1px 20px 0 0;
		color: #595C5B;
		font: bold 0.8em $font_0, $font_2;
	}
}
input {
	&.submit {
		width: 28px;
		height: 20px;
		font-weight: bold;
		border: none;
		background: #1E1F21;
		padding: 3px;
		color: $color_suva_gray_approx;
	}
	&.field {
		border: 1px solid $color_celeste_approx;
		background-color: #3C3C3C;
		width: 100px;
		color: $black;
		&:hover {
			border: 1px solid $color_gallery_approx;
			background: $color_celeste_approx;
			color: $black;
		}
	}
	&.text {
		margin: 0;
		width: 110px;
		border: 1px solid $color_celeste_approx;
		background: #3C3C3C;
		color: #A4B4C8;
		&:hover {
			border: 1px solid $color_gallery_approx;
		}
	}
	&.searchbutton {
		margin: 0;
		font-size: 100%;
		font-family: $font_0, $font_3;
		border: none;
		background: #FFFFFF;
		color: $gray;
		padding: 1px;
		font-weight: bold;
	}
	&.button {
		background: #FFFFF4;
		color: $gray;
		border-right: 1px solid $color_celeste_approx;
		border-bottom: 1px solid $color_celeste_approx;
	}
}
.nav {
	clear: both;
	text-align: center;
	color: #BC6247;
	padding: 5px 0 0;
}
.boxad {
	background: $color_abbey_approx;
	color: #BBB;
	border: 1px dashed #BC6247;
	padding: 5px;
}
p {
	margin: 0 0 5px 0;
	padding: 0;
	color: $color_suva_gray_approx;
	background: inherit;
}
hr {
	border: 0;
	height: 1px;
	color: $color_gallery_approx;
	background-color: $color_gallery_approx;
	background: #3C3C3C;
	border: 1px solid $color_fuscous_gray_approx;
	margin: 10px 0;
}
a {
	color: $color_suva_gray_approx;
	background: inherit;
	text-decoration: none;
	&:hover {
		background: inherit;
		text-decoration: underline;
	}
}
h1 {
	padding: 0;
	margin: 0;
	color: #FFF;
	background: inherit;
	font: bold 1.8em $font_0, $font_1;
	letter-spacing: -1px;
	a {
		color: #FFF;
		background: inherit;
	}
}
h2 {
	background-color: inherit;
	color: #BC6247;
	font-size: 140%;
	font-weight: bold;
	margin: 10px 0;
	padding: 0;
	a {
		background-color: #3C3C3C;
	}
}
ul {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
li {
	float: left;
	font-weight: bold;
	margin: 0 0 8px 0;
	padding: 0 0 0 5px;
	a {
		color: #FF6538;
		&:hover {
			background: url(select.gif) no-repeat center top;
			background-position: 50% 30px;
			color: #C62C00;
		}
	}
}
img {
	border: 0;
}
.content {
	color: #FFF;
	margin: 0 auto;
	padding: 0;
	width: 766px;
	background: #3C3C3C;
}
.right {
	clear: both;
	font-size: 95%;
	float: right;
	width: 200px;
	padding: 15px 1em 1em 10px;
	border-left: 1px solid $color_fuscous_gray_approx;
	a {
		color: #AEB9CC;
	}
}
.left_article {
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid $color_gallery_approx;
	border-bottom: 1px solid $color_gallery_approx;
}
.center {
	float: left;
	width: 500px;
	font-size: 95%;
	margin: 15px 0 5px 5px;
	padding: 0;
	background: #3C3C3C;
	color: #FFF;
	a {
		color: #AEB9CC;
	}
}
.footer {
	clear: both;
	width: auto;
	color: $color_suva_gray_approx;
	font-size: 90%;
	background: #3C3C3C;
	border-top: 1px solid $color_fuscous_gray_approx;
	text-align: center;
	margin-top: 30px;
	margin-right: 0;
	margin-left: 0;
	padding: 10px;
	padding {
		text-align: center;
	}
}
fieldset {
	border: 1px solid $color_gallery_approx;
}
.date {
	color: $color_celeste_approx;
	background: #3C3C3C;
	text-align: right;
	margin: 4px 0 5px;
	padding: 0.4em 0 0 0;
	border-top: 1px solid $color_fuscous_gray_approx;
	a {
		color: $color_celeste_approx;
	}
}
.time {
	color: #192D50;
	float: left;
	text-align: left;
	padding: 5px 0 0 15px;
}
.comments {
	padding: 10px 10px 8px 10px;
	margin: 0 0 7px 0;
	background: $color_cape_cod_approx;
	color: $black;
}
.commentsbox {
	padding: 8px 0 10px 10px;
	margin: 0 0 10px 0;
	background: $wild_sand;
	color: $black;
}
.error {
	color: $color_red_berry_approx;
	background-color: #FFF0F0;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px dashed $color_red_berry_approx;
	h2 {
		color: $color_red_berry_approx;
		background: inherit;
	}
}
.success {
	color: $black;
	background: #F5FBE1;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px dashed #7BA813;
	h2 {
		color: #7BA813;
		background: inherit;
	}
}
textarea.text {
	height: 150px;
	width: 90%;
	border: 1px solid $color_celeste_approx;
	background: $white;
	color: $black;
	&:hover {
		border: 1px solid $color_gallery_approx;
		background: #FFFFF4;
		color: $black;
	}
}